:root {
    --brand-color: #2E2F42;
    --text-color: #434455;
    --background-color: #E5E5E5;
    --font-main: 'Roboto';
}
body {
    color: #2E2F42;
    font-family: 'Roboto', 'Raleway', 'Helvetica Neue', ' Roboto', ' Verdana', ' Tahoma', sans-serif;
}
.logo-web {
    width: 44px;
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo-studio {
    width: 71px;
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;  
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
}
.main-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
}
.main-nav .nav:active {
    color: #404BBF;
}
.address {
    color: var(--text-color);
}
.address .mailto:active {
    color: #404BBF;
}
.hero {
    background-color: var(--brand-color);
}
.hero-head {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #fff;
}
.button {
    cursor: pointer;
        width: 169px;
        height: 56px;   
        background: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}
.hero-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1,5;  
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
}